.analyticsLogo {
  margin: 0;
  padding: 0;
  text-decoration: line-through;
  color: green;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;

}